
{% assign areas = 'Technical, Communication, Delivery, Leadership' | split: ', ' %}

{% for level in site.data.levels %}
	{% if level.id == include.level %}

		<p>{{level.summary}}</p>

		<p>
			<em>The compencies for {{level.name}} are outlined below. Before reviewing them, it is helpful to
			<a href="/competencies/how-to-use/">review how to use these competencies</a>.</em>
		</p>

		{% for area in areas %}
			{% assign area_lower_case = area | downcase %}

			<h2 id="{{area_lower_case}}">{{area}}</h2>

			<ul class="o-layout__unstyled-element competency-list">
				{% for competency in site.data.competencies %}
					{% if competency.level == level.id and competency.area == area_lower_case %}
						<li class="competency-list__competency">
							{% assign example-count = competency.examples | size %}
							<p class="o-layout__unstyled-element competency-list__summary">
								{{competency.summary}}{% if example-count > 0 %}, e.g.{% endif %}
							</p>
							{% if example-count > 0 %}
								<ul class="o-layout__unstyled-element competency-list__examples">
									{% for example in competency.examples %}
										<li>{{example}}</li>
									{% endfor %}
								</ul>
							{% endif %}
						</li>
					{% endif %}
				{% endfor %}
			</ul>

		{% endfor %}

	{% endif %}
{% endfor %}
