
<header class="o-header-services" data-o-component="o-header-services">

	<div class="o-header-services__top">
		<div class="o-header-services__logo"></div>
		<div class="o-header-services__title">
			<a class="o-header-services__product-name" href="/">Engineering Progression</a>
		</div>
	</div>

	<nav class="o-header-services__primary-nav" aria-label="primary">
		<ul class="o-header-services__primary-nav-list">
			<li>
				<a href="/" {% if page.url == '/' %}aria-current="true"{% endif %}>
					Home
				</a>
			</li>
			<li>
				<a href="/competencies/" {% if page.url contains '/competencies/' %}aria-current="true"{% endif %}>
					Competencies
				</a>
			</li>
			<li>
				<a href="/docs/api/" {% if page.url == '/docs/api/' %}aria-current="true"{% endif %}>
					API
				</a>
			</li>
		</ul>
	</nav>

	{% if page.url contains '/competencies/' %}
		<nav class="o-header-services__secondary-nav" aria-label="secondary" data-o-header-services-nav="">
			<div class="o-header-services__secondary-nav-content" data-o-header-services-nav-list="">
				<ol class="o-header-services__secondary-nav-list o-header-services__secondary-nav-list--ancestors" aria-label="Ancestor sections">
					<li>
						<a href="/competencies/" {% if page.url == '/competencies/' %}aria-current="true"{% endif %}>
							Competencies
						</a>
					</li>
				</ol>
				<ul class="o-header-services__secondary-nav-list o-header-services__secondary-nav-list--children" aria-label="Child sections">
					<li>
						<a href="/competencies/how-to-use/" {% if page.url == '/competencies/how-to-use/' %}aria-current="true"{% endif %}>
							How to use
						</a>
					</li>
					{% for level in site.data.levels %}
						<li>
							{% capture level_url %}/competencies/{{level.id}}/{% endcapture %}
							<a href="{{level_url}}" {% if page.url == level_url %}aria-current="true"{% endif %}>
								{{level.name}}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<button class="o-header-services__scroll-button o-header-services__scroll-button--left" title="scroll left" aria-hidden="true" disabled></button>
			<button class="o-header-services__scroll-button o-header-services__scroll-button--right" title="scroll right" aria-hidden="true" disabled></button>
		</nav>
	{% endif %}

</header>
