<div class="o-message o-message--notice o-message--warning-light" data-o-component="o-message" data-close="false">
	<div class="o-message__container">
		<div class="o-message__content">
			<p class="o-message__content-main">
				<span class="o-message__content-highlight">Engineering competencies v2:</span>
				a new suite of competencies are now available, <a href="/competencies/">view them here</a> or <a href="/docs/faq/">read the FAQ</a> to understand more about this change.
			</p>
		</div>
	</div>
</div>
