---
title: Competencies
description: An outline of the competencies within each job family in Technology at the Financial Times.
permalink: /competencies/
layout: o-layout-landing
---


<div class="o-layout__hero o-layout__hero--muted o-layout-typography">

	<h1>{{page.title}}</h1>
	<p>
		{{page.description}}
		Before reviewing competencies for your level, <a href="/competencies/how-to-use/">read how to use them here</a>.
	</p>

</div>

<div class="o-layout__main o-layout-typography">

	<div class="o-layout__overview">

		{% for jobFamilyHash in site.data.job-families %}
			{% assign jobFamily = jobFamilyHash[1] %}
			{% if jobFamily.isLegacy != true %}
				<div class="o-layout-item">
					<h2 id="{{jobFamilyHash[0]}}">{{jobFamily.name}}</h2>
					<p>
						{{jobFamily.summary}}
						<a href="https://docs.google.com/spreadsheets/d/{{jobFamily.googleSheetId}}/edit" class="o-typography-link--external">Track progress via a Google Sheet</a>.
					</p>
					<ul>
						{% for level in jobFamily.levels %}
							<li>
								<a href="/competencies/{{jobFamilyHash[0]}}/{{level.id}}/">{{level.name}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		{% endfor %}

		{% for jobFamilyHash in site.data.job-families %}
			{% assign jobFamily = jobFamilyHash[1] %}
			{% if jobFamily.isLegacy == true %}
				<div class="o-layout-item">
					<h2 id="{{jobFamilyHash[0]}}">{{jobFamily.name}}</h2>
					<p>
						{{jobFamily.summary}}
						<a href="https://docs.google.com/spreadsheets/d/{{jobFamily.googleSheetId}}/edit" class="o-typography-link--external">Track progress via a Google Sheet</a>.
					</p>
					<ul>
						{% for level in jobFamily.levels %}
							<li>
								<a href="/competencies/{{jobFamilyHash[0]}}/{{level.id}}/">{{level.name}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		{% endfor %}

	</div>
</div>
