---
title: Engineering Competencies
description: Engineering competencies are used to inform conversations about career progression between an engineer and their line manager.
permalink: /competencies/
layout: o-layout-landing
---


<div class="o-layout__hero o-layout__hero--muted o-layout-typography">

	<h1>{{page.title}}</h1>
	<p>
		{{page.description}}
		This section of the site outlines the competencies for each role and level in engineering at the Financial Times.
		Before reviewing competencies for your level, <a href="/competencies/how-to-use/">read how to use them here</a>.
	</p>

</div>

<div class="o-layout__main o-layout-typography">

	<div class="o-layout__overview">

		{% for roleHash in site.data.roles %}
			{% assign role = roleHash[1] %}
			<div class="o-layout-item">
				<h2 id="{{roleHash[0]}}">{{role.name}}</h2>
				<p>{{role.summary}}</p>
				<ul>
					{% for level in role.levels %}
						<li>
							<a href="/competencies/{{roleHash[0]}}/{{level.id}}/">{{level.name}}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endfor %}

	</div>
</div>
