---
title: Engineering Competencies
description: Engineering competencies are used to inform conversations about career progression between an engineer and their line manager.
permalink: /competencies/
layout: o-layout-landing
---


<div class="o-layout__hero o-layout__hero--muted o-layout-typography">

	<h1>{{page.title}}</h1>
	<p>
		{{page.description}}
		This section of the site outlines the competencies for each job family and  in engineering at the Financial Times.
		Before reviewing competencies for your level, <a href="/competencies/how-to-use/">read how to use them here</a>.
	</p>

</div>

<div class="o-layout__main o-layout-typography">

	<div class="o-layout__overview">

		{% for jobFamilyHash in site.data.job-families %}
			{% assign jobFamily = jobFamilyHash[1] %}
			<div class="o-layout-item">
				<h2 id="{{jobFamilyHash[0]}}">{{jobFamily.name}}</h2>
				<p>{{jobFamily.summary}}</p>
				<ul>
					{% for level in jobFamily.levels %}
						<li>
							<a href="/competencies/{{jobFamilyHash[0]}}/{{level.id}}/">{{level.name}}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endfor %}

	</div>
</div>
