---
title: Engineering Competencies
description: Engineering competencies are used to help identify when an engineer is ready for promotion.
permalink: /competencies/
layout: o-layout-docs
---


<h1>{{page.title}}</h1>

{% for level in site.data.levels %}

	<h2 class="o-layout__linked-heading" id="{{level.id}}">
		{{level.name}}
	</h2>
	<p>{{level.summary}}</p>
		<table class="o-table  o-table--row-stripes" data-o-component="o-table">
			<thead>
	        <tr>
	            <th scope="col" role="columnheader">Area</th>
	            <th scope="col" role="columnheader" data-o-table-heading-disable-sort="">Competency</th>
	 				</tr>
			</thead>
			<tbody>
				{% for competency in site.data.competencies %}
					{% if competency.level == level.id %}
					<tr>
					<td><span class='o-labels'>{{competency.area}}</span></td>
					<td>{{competency.summary}}
					  {% assign example-count = competency.examples | size %}
					  {% if example-count > 0 %}
						  <ul class="o-layout__unstyled-element">
							  {% for example in competency.examples %}
							  	<li><em>{{example}}</em></li>
							  {% endfor %}
					  	</ul>
						{% endif %}
					</td>
					</tr>
					{% endif %}

				{% endfor %}
			</tbody>
		</table>
{% endfor %}
