---
layout: o-layout-docs
---

{% assign jobFamily = site.data.job-families[page.jobFamilyId] %}
{% assign level = jobFamily.levels | where: "id", page.levelId | first %}

<h1>{{level.name}}</h1>

<!--
We repeat the paragraph here because one is not optimised for printing
and the other is (e.g. labelling the engineering progression link as a URL).
People viewing on a screen or using assistive tech will not see or hear the
second paragraph
-->
<p class="screen-only">
	<em>The competencies for {{level.name}} in {{jobFamily.name}} are outlined below. Before reviewing them, it is helpful to
	<a href="/competencies/how-to-use/">review how to use these competencies</a>.</em>
</p>
<p class="print-only" aria-hidden="true">
	<em>The competencies for {{level.name}} in {{jobFamily.name}} are outlined below. You can find more information on using these
	competences on the Engineering Progression website: <a href="https://engineering-progression.ft.com/">https://engineering-progression.ft.com/</a>.</em>
</p>

<div class="o-layout__main__full-span">
	{% for theme in jobFamily.themes %}
		<h2 id="{{theme.id}}">{{theme.name}}</h2>
		{% if theme.summary %}
			<p class="theme-summary">{{theme.summary}}</p>
		{% endif %}
		{% for competency in jobFamily.competencies %}
			{% if competency.level == level.id and competency.theme == theme.id %}
				<div class="competency" id="{{competency.id}}">
					{% assign example-count = competency.examples | size %}
					{% assign supporting-url-count = competency.supportingUrls | size %}
					{{competency.summary | markdownify}}
					{% if example-count > 0 %}
						<p>Examples:</p>
						<ul>
							{% for example in competency.examples %}
								<li>{{example}}</li>
							{% endfor %}
						</ul>
					{% endif %}
					{% if supporting-url-count > 0 %}
						<p>Supporting URLs:</p>
						<ul>
							{% for supportingUrl in competency.supportingUrls %}
								<li>
									<a href="{{supportingUrl.url}}">{{supportingUrl.label}}</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
					<p>Proficiency: <span class="o-labels o-labels--big">{{competency.proficiency}}</span></p>
				</div>
			{% endif %}
		{% endfor %}
	{% endfor %}
</div>
